.header {
  background-color: #4a90e2;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.svg-icon.logo path {
  fill: #fff;
}

.svg-icon.logo {
  width: 121px;
}
