<strong>Olá, {{ student }}!</strong>
<h1>Você obteve uma resposta da Gympoint!</h1>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data da resposta: </strong> {{ answer_at }} <br />
</p>
