<strong>Olá, {{ student }}!</strong>
<h1>Seja bem-vindo à Gympoint!</h1>
<p>Você recebeu novos créditos. Confira os detalhes:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de expiração: </strong> {{ endDate }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <br />
  <small>
    Agora que vc está aqui com a gnt, podemos dizer que te amamos obsecadamente.
  </small>
</p>
