<strong>Olá, {{ student }}!</strong>
<p>Você recebeu novos créditos na Gympoint. Confira os detalhes:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de expiração: </strong> {{ endDate }} <br />
  <strong>Valor: </strong> {{ price }} <br />
</p>
